@charset "UTF-8";

.form-control {
	border: none;
	text-align: right;
}

.form-control:focus {
	outline: none;
	-webkit-box-shadow : none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}



.img-icon {
	position: relative;
	top: -40px;
	text-align: center;
}

.profile_icon {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-position: center center;
}

img {
	vertical-align: middle;
	border-style: none;
}

fieldset div {
	display: flex;
	align-items: center;
}

label {
	order: 1;
	width: 10em;
	padding-right: 0.5em;
}

input, textarea, select {
	order: 2;
	flex: 1 1 auto;
}

@media screen and (min-width: 769px) {
	.form {
		
	}
}