.card{
    position: relative;
    width: 20rem;  
    margin: 4rem auto;
    border: 0.1rem solid #7fdbda;
}
.trim-image-circle{
    width:  5rem;      
    height: 5rem;      
    border-radius: 50%;
    border: 1px solid LightGray;
}
.memo-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.memo-date{
    font-size: 0.8rem;
}
.card-header {
    background-color: white;  
}
.cover{
    display: table;
    width: 100%;
}
.coverimage{
    display: table-cell;
}

.edit-icon{
    position: fixed;
    z-index: 2;
    bottom:20px;
    right:20px; 
}
.edit-icon:hover{
    cursor: pointer;

}
.fa-pen{
    font-size: 2rem;
    color:white;
    padding:1rem;
    border-radius: 50%;
    background-color: #7fdbda;
    transition: .10s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}
.fa-pen:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgb(147, 180, 238);
}
