.rowbox {
    float: left;
    text-align: left;
    margin-bottom: 1rem;
    width: 13rem;
}
#member{
    width: 15rem;
}
#creator{
    font-size: 0.8rem;
}
.card{
    width: 30rem;  
    margin: 4rem auto;
    border: 1.5px solid #a8a6a6;
}
#siori-cover img{
    object-fit: cover;
    height: 200px;
}
.siori-content-title{
    color: #727171;
}
.siori-content{
    font-size: 1.2rem;
}
.trim-image-circle{
    object-fit: cover;
    width:  4rem;      
    height: 4rem;      
    border-radius: 50%;
    border: 1px solid LightGray;
}

.cover{
    display: table;
    width: 100%;
    margin:1rem 0;
}
#title-margin{
    margin:0;
}
.coverimage{
    display: table-cell;
}
/*編集アイコン*/
.fa-pen{
  color: white;
  background-color: rgb(0,0,0,0.1);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10%;
  }

.fa-pen:hover {
  color: black;
  cursor: pointer;
  }

.member-name{
    margin-left: 1rem;
}

#delete-siori a:hover{
    color:red;
}

.add-member {
    position: fixed;
    z-index: 2;
    bottom:20px;
    right:20px; 
}
.add-member a{
    display: block;
    text-decoration: none;
}
.fa-user-plus{
    font-size: 2rem;
    color:white;
    padding:1rem 0.8rem;
    border-radius: 50%;
    background-color: #7fdbda;
    transition: .10s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}
.fa-user-plus:hover {
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgb(147, 180, 238);
}

.btn-primary{
    background-color: #febf63;
	border-color: #febf63;
}
.btn-primary:hover{
	background-color: #fe9f12;
	border-color: #fe9f12;
}
.btn-primary:active{
	background-color: #fe9f12;
	border-color: #fe9f12;
}

@media screen and (max-width: 480px) {

.card{
    width: 20rem;
}
.siori-content-title{
    font-size: 0.8rem;
}
.siori-content{
    font-size: 0.9rem;
}    
    
}
