.title{
    background: #7fdbda;
}
#fab {/*円の部分*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #7fdbda;
    text-align: center;
    border-radius: 50%;
    transition: .10s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}

#fab:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgb(147, 180, 238);
}

#fab i {
    color: white;
    line-height: 60px;
    font-size: 30px;
}

.create-folder {
    position: fixed;
    z-index: 2;
    bottom:3rem;
    right:5rem;
}
.create-folder a{
    display: block;
    text-decoration: none;
}
.edit{
    color: #7fdbda;
    font-size: 1.5em;
}

/*toggleSwitch*/
.toggle-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.toggle-label {
    width: 3rem;
    height: 1.5rem;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
    box-sizing: border-box;
}
.toggle-label:after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.toggle-input:checked~  .toggle-label {
    background-color: #7fdbda;
}
.toggle-input:checked~
.toggle-label:after{
    left: 1.5rem;
}

.toggle-switch {
    position: relative;
    margin:0.5rem 1rem;
}