/*タブ切り替え*/
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.tab-label,
.tab-switch:checked~.tab-switch:last-of-type+.tab-label {
    color: White;
    background: LightGray;
    margin-right: 5px;
    padding: 3px 12px;
}
.tab-label{
    order:-1;
    border-radius: 25px;
}
.tab-content,
.tab-switch:checked~.tab-content:last-of-type {
    width: 100%;
    display: none;
}
.tab-switch:checked+.tab-label,
.tab-label:last-of-type {
    background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content,
.tab-content:last-of-type {
    display: block;
}

/*テーブル*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

table td.icon.bird{
  background-image: url(icon-bird.png)
}

table td.icon.whale{
  background-image: url(icon-whale.png)
}

table td.icon.crab{
  background-image: url(icon-crab.png)
}
.tab-order .tab-label:last-of-type {
    order: -2;
}
.tab-switch {
    display: none;
}