@charset "UTF-8";

/*スケジュール作成アイコン*/
#fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #7fdbda;
    text-align: center;
    border-radius: 50%;
    transition: .10s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
}

#fab:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgb(147, 180, 238);
}

#fab i {
    color: white;
    line-height: 60px;
    font-size: 30px;
}

.tab-content{
    text-align: center;
}

.date{
	padding: 0.5em 1em;
    margin: 0 auto;
    color: #2c2c2f;
    background: #7fdbda;/*背景色*/
    width: 30%;
    position: relative;
    top: 20px;
}

.time-schedule{
	font-size: 18px;
	color: #36c2c2;
	width: 20%;
}

.finish{
	font-size: 13px;
}

.schedule{
	border: dashed 2px #5b8bd0;/*点線*/
	margin: 0 auto;
	width: 70%;
}

td.content{
	text-align: left;
}

img{
	width: 150px;  /* 横幅を150pxに */
}

/*テーブルCSS*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table td.img_file{
	padding: 0 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

table td.icon.bird{
  background-image: url(icon-bird.png)
}

table td.icon.whale{
  background-image: url(icon-whale.png)
}

table td.icon.crab{
  background-image: url(icon-crab.png)
}


@media screen and (max-width: 400px) {
	.date{
    	width: 60%;
    	font-size: 12px;
	}
	
	.schedule{
		width: 95%;
	}
	
	img{
		width: 80px;  /* 横幅を80pxに */
	}

	
}