<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>tabee | スケジュール編集</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="../../static/css/schedule/display_schedule.css" th:href="@{/css/schedule/display_schedule.css}">
<link rel="stylesheet" href="../../static/css/schedule/register_schedule.css" th:href="@{/css/schedule/register_schedule.css}">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/scrap/bootstrap.min.css}">
<link rel="stylesheet" href="../../static/css/main/siori-register.css" th:href="@{/css/main/siori-register.css}">
<link rel="stylesheet" href="../../static/css/checklist/checklist.css" th:href="@{/css/checklist/checklist.css}">
<link rel="stylesheet" href="../../static/css/siori/memo-register.css">
</head>
<body>

   <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
               <h3 class="text-center">チェックリスト</h3>
                <form>
                    <div class="form-group">
                        <table>
                        	<tr>
  								<th colspan="2" class="scheduleItem">&ensp;衣類</th>
  							</tr>
  							<tr>
    							<td colspan="2" class="input-field">
    								<i class="far fa-square"></i>&ensp;着替え3日分
    							</td>
  							</tr>
  							<tr>
    							<td  colspan="2" class="input-field">
    								<i class="far fa-square"></i>&ensp;タオル
    							</td>
  							</tr>
  							<tr>
  								<th  colspan="2"  class="scheduleItem">&ensp;交通</th>
  							</tr>
  							<tr>
    							<td colspan="2" class="input-field">
    								<i class="far fa-square"></i>&ensp;Suica
    							</td>
  							</tr>
  							<tr>
    							<td colspan="2" class="input-field">
    								<i class="far fa-square"></i>&ensp;eチケット
    							</td>
  							</tr>
                        	<tr>
  								<th colspan="2" class="scheduleItem">&ensp;お土産</th>
  							</tr>
  							<tr>
    							<td colspan="2" class="input-field">
    								<i class="far fa-square"></i>&ensp;自分用
    							</td>
  							</tr>
  							<tr>
    							<td colspan="2" class="input-field">
    								<i class="far fa-square"></i>&ensp;家族用
    							</td>
  							</tr>
                        </table>
                    </div>
                </form>
            </div>
        </section>
    </main>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>