<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Scrap make folder - tabee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/scrap/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="../../static/css/checklist/checklist.css" th:href="@{/css/checklist/checklist.css}">

</head>

<body>
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-warning mb-3"  th:fragment="menu">
    <div class="container">
        <a class="navbar-brand" th:href="">
            <span class="sample">tabee</span>
        </a>
        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu<span class="navbar-toggler-icon"></span>
            <!--           	<i class="fas fa-bars"></i> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!-- 右寄せにするために記述 -->
            <ul class="navbar-nav mr-auto">
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">みんなの思い出</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">マイページ</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="">マイページトップ</a>
                        <a class="dropdown-item" th:href="">各種設定</a>
                        <a class="dropdown-item" th:href="">FAQ</a>
                        <a class="dropdown-item" th:href="">お問い合わせ</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="login.html" th:href="">ログアウト</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center">
                <div class="col-md-8">
                    <!-- Start: Navigation Clean -->
                    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
                        <div class="container">
                            <a class="navbar-brand" href="../checklist/checklist.html">カテゴリーリスト</a>
                        </div>
                    </nav>
            <!-- End: Navigation Clean -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="title"><a href="categorylist_edit.html">持ち物</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">衣類</a></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">貴重品</a></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">交通</a></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">モバイル関係</a></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">その他</a></label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th class="title"><a href="categorylist_edit.html">お土産</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">会社</a></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">プライベート</a></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <a href="category_edit.html">家族</a></label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <a href="checklist.html">戻る</a>
        </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="../../static/js/scrap/script.min.js"></script>
</body>

</html>