
.page-title{
    font-size: 2rem;
}
.create-recommend{
    font-size: 1.5rem;
}

img{
    object-fit: cover;
    cursor: pointer;
    height: 200px;
}
.card{
    width: 16rem;
}
.card:hover{
    box-shadow: 10px 10px 10px #7fdbda;
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

.fa-plus-circle{
    color:#7fdbda;
    font-size:4rem;
}
.create-siori {
    position: fixed;
    z-index: 2;
    bottom:2rem;
    right:2rem;
}
.create-siori a{
    display: block;
    text-decoration: none;
}

a{
    color:black;
    text-decoration: none;
}
.flex-child:hover{
    color:#febf63;
    text-decoration: none;
}

p{
    font-size: 0.5rem;
}

.siori-edit {
  position: relative;
  }

p.edit-icon {
  position: absolute;
  right: 50;
  color: white;
  background-color: rgb(0,0,0,0.1);
  font-size: 1.0rem;
  line-height: 1;
  padding: 5px 10px;
  }
p.edit-icon:hover {
  color: black;
  cursor: pointer;
  }

.form-label-group>input, .form-label-group>label {
	width: 30%;

}
.btn-primary {
    width: 30%;
    margin-top: 10px;
}


@media screen and (max-width: 480px) {

.card{
    width: 9rem;
}
img{
    height: 120px;
}
.card-title{
    font-size:0.1rem;
}
p{
    font-size:0.1rem;
}
.fa-plus-circle{
    font-size: 4rem;
}


.form-label-group>input, .form-label-group>label {
	width: 70%;

}

.btn-primary {
    width: 70%;
}
}

