:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.btn-primary{
    background-color: #febf63;
	border-color: #febf63;
}
.btn-primary:hover{
	background-color: #fe9f12;
	border-color: #fe9f12;
}
.btn-primary:active{
	background-color: #fe9f12;
	border-color: #fe9f12;
}
div.search .btn-primary {
    width: 30%;
    margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}


.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 15%;
  display: block;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}
.search{
    margin-bottom: 2rem;
}
/*検索フォーム関連ここまで*/

.page-title{
    font-size: 2rem;
}
.create-recommend{
    font-size: 1.5rem;
}

img{
    object-fit: cover;
    cursor: pointer;
    height: 200px;
}
.card{
    width: 16rem;    
}
.card:hover{
    box-shadow: 10px 10px 10px #7fdbda;
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

.create-siori {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
}
.create-siori a{
    display: block;
    text-decoration: none;
}

#fab {/*円の部分*/
    width: 60px;
    height: 60px;
    background: #7fdbda;
    text-align: center;
    border-radius: 50%;
    transition: .10s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}

#fab:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgb(147, 180, 238);
}

#fab i {
    color: white;
    line-height: 60px;
    font-size: 30px;
}

a{
    color:black;
    text-decoration: none;
}
.flex-child:hover{
    color:#febf63;
    text-decoration: none;
}  

p{
    font-size: 0.5rem;
}

.siori-edit {
  position: relative;
  }

p.edit-icon {
  position: absolute;
  right: 50;
  color: white;
  background-color: rgb(0,0,0,0.1);
  font-size: 1.0rem;
  line-height: 1;
  padding: 5px 10px;
  }
p.edit-icon:hover {
  color: black;
  cursor: pointer;
  }

.form-label-group>input, .form-label-group>label {
	width: 30%;

}

@media screen and (max-width: 480px) {
    
.card{
    width: 9rem;
}
img{
    height: 120px;
}
.card-title{
    font-size:0.1rem;
}
p{
    font-size:0.1rem;
}
.fa-plus-circle{
    font-size: 4rem;        
}

    
.form-label-group>input, .form-label-group>label {
	width: 70%;

}

div.search .btn-primary {
    width: 70%;
}
}



