@charset "UTF-8";

.day{
    border-radius: 10px;/*角の丸み*/
    background: #FFF;
    color: #33b7b7;/*文字色*/
    text-align: center;
    width: 120px;
    font-size: 12px;
    margin: 0 auto;
}

.img_btn .textarea .submit_btn{
  display: inline;
  vertical-align: middle;
}

.img_btn{
	float:  left;   /* 回り込み指定 */
}

 .send_message{
 float:  left;   /* 回り込み指定 */
 }
 
.send-form{
	padding: 5px 5px;
	height: 50px;
	width: 58.6%;
	position: fixed; /* 要素の位置を固定する */
	margin-top: 300px;
	margin-right: 2px;
 }
 
 .send-form{
 	background-color: white;
 }

/*送信ボタン*/
button{
	border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}

.submit_btn{
	position: relative;
	left: 400px;
	top: 3px;
}

/*画像挿入*/
.filelabel {
   border-radius: 3em;        /* 角丸 */
   padding: 12px 12px;         /* 内側の余白 */
   display: inline-block;     /* インラインブロック化 */
}
.filelabel img {
   vertical-align: bottom;    /* 画像の垂直方向の配置 */
}
.filelabel:hover {
   opacity: 0.5;              /* 半透明 */
   border: 2px solid #febf63;     /* 枠線(赤色) */
   cursor: pointer;           /* マウス形状(ポインタ) */
}
#filesend {
   display: none;  /* 本来のファイル選択フォームは非表示に */
}

/* チャット*/
.userName{
	font-size: 10px;
}

#chat-frame {
  margin: auto;
  padding: 1em 0.5em;
  height: 80vh;
  width: 60%; 
  background: #effafa;/*背景色*/ 
}

.chat-talk {
  overflow:hidden;
  margin: 0 0 1em 0;
  padding: 0;
}

.chat-talk span {
  display: block;
  margin: 0;
  padding: 0;
}

.chat-talk .talk-icon {
  float: left;
  width: auto;
}

.chat-talk .talk-content {
  position: relative;
  box-sizing: border-box;
  width: auto;
  min-height: 50px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0px 90px;
  padding: 0.5em;
}

.chat-talk .talk-icon img {
  width:  50px;       /* ※縦横を同値に */
  height: 50px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  
  object-fit:cover;
  vertical-align: bottom;
  border: 2px solid #fff;
  margin-right: 15px;
    margin-left: 15px;
}

.chat-talk .talk-content:before {
  position: absolute;
  top: 15px;
  left: -20px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-right-color: #FFFFFF;
}

.chat-talk.mytalk .talk-icon {
  float: right;
}

.chat-talk.mytalk .talk-content {
  margin: 0px 90px;
  color: #000;
  background: #78FF6C;
}

.chat-talk.mytalk .talk-content:before {
  right: -20px;
  left: auto;
  border-color: transparent;
  border-left-color: #78FF6C;
}

textarea{
  width: calc(100% -100px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media screen and (max-width: 400px) {
	#chat-frame {
  		width: 95%; 
	}
	
	.chat-talk .talk-content {
  		margin: 0px 75px;
	}
	
	.chat-talk.mytalk .talk-content {
  		margin: 0px 75px;
	}
	
	.chat-talk .talk-icon img {
  		margin-right: 5px;
    	margin-left: 5px;
	}
	
	.submit_btn{
		top: 3px;
	}
}