@charset "UTF-8";

/*/////////////////////////////////////////////////
//LINE風チャット画面(会話方式)を記事に表示する方法
/////////////////////////////////////////////////*/

.line__container {
  padding:0;
  background: #7fdbda;
  overflow: hidden;
  max-width: 400px;
  margin: 20px auto;
  font-size: 80%;
}

/* タイトル部分 */
.line__container .line__title {
  background: #1e6868;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

/* 会話部分 */
.line__container .line__contents {
  padding: 10px;
  overflow: hidden;
  line-height: 135%;
}

.line__container .scroll {
  height: 500px;
  overflow-y: scroll;
}

.line__container .scroll::-webkit-scrollbar {
	display:none;
}

/* スタンプ画像最大幅 */
.line__container .stamp img {
  max-width:150px;
}

/* 相手の会話 */
.line__container .line__left {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 5px;
    max-width: 80%;
    clear: both;
}

.text{
	margin-top: 5px;
}

/* アイコン画像 */
.line__container .line__left figure {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 0;
    margin: 0;

}

/* 正方形を用意 */
.line__container .line__left figure img{
    border-radius: 50%;
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    object-fit: cover;
}

.line__container .line__left .line__left-text {
  margin-left: 70px;
}

.line__container .line__left .line__left-text .name {
  font-size: 80%;
  color: #ffffff;
}

/* コメントエリア */
.line__container .line__left .text {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}

/* 吹き出し */
.line__container .line__left .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 10px;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 自分の会話 */
.line__container .line__right {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* コメントエリア */
.line__container .line__right .text {
  padding: 10px;
  border-radius: 20px;
  background-color: #8de055;
  margin: 0;
  margin-left: 80px;
}

/* 吹き出し */
.line__container .line__right .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 10px;
  border-left: 20px solid #8de055;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 自分がスタンプを送る時 */
.line__container .line__right .stamp {
  position: relative;
  margin-left: 80px;
}

/* 既読エリア */
.line__container .line__right .date {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  text-align: right;
  left: -30px;
  bottom: 0px;
  font-size: 80%;
  color: #ffffff;
}

/*入力する場所*/
#input-field{
    width: 400px;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    background-color: #FFF;
    margin: 0 auto;
}

#chat-input{
    height: 25px;
    width: 67%;
    display: block;
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    border: 1px solid #777;
    border-radius: 4px;
    padding-left: 10px;
    margin: auto 10px;
}
#chat-input:focus{
    border: 1.3px solid #8873FF;
    outline: 0;
}
/*送信ボタン*/
#chat-button{
    cursor: pointer;
    height: 25px;
    width: 15%;
    margin: auto ;
    margin-right: 10px;
    font-size: 13px;
    background: #7fdbda;
    color: white;
    display: block;
    /*デフォルトのボーダーを消す*/
    border: none;
    box-sizing: border-box;
    border-radius: 6.5px;
}
#chat-button:focus{
    outline: 0;
    background: #A899FF;
}

/*ファイルボタン*/
.filelabel {
   font-size: 15px;
   border-radius: 3em;        /* 角丸 */
   padding: 12px 9px;         /* 内側の余白 */
   display: inline-block;     /* インラインブロック化 */
}
.filelabel img {
   vertical-align: bottom;    /* 画像の垂直方向の配置 */
}

#filesend {
   display: none;  /* 本来のファイル選択フォームは非表示に */
}